.header{
  padding: 25px;
  border-bottom: 1px solid black;
  background-color: white;
}
.derecha{
  float: left;
  padding-right: 10px;
}
.izquierda{
  float: right;
  padding-right: 10px;
}
header .logo{
   text-align: center;

@font-face {
    font-family: "MaisonNeue-Book";
    src:  url("../webfonts/MaisonNeue-Bold.ttf") ;
}

}
.contenedor{
     width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max_whidth:480px) {
  a {
    display: none;
  }
  body{
    background-color: red;
  }

}
/*-----------------------Navagacion-------------------------
----------------------------------------------------------*/
.navegacion{
  padding: 0px;
  padding-top: 40px;
  }
a {
  padding-right: 25px;
  padding-left:  0;
  text-decoration: none;
  color: black;

}

.separar{
  padding-right: 350px
}
.tabla{
  padding: 25px;
  width: 1400px;
  border-top: solid black;
  border-bottom: solid black;
}
.tabla td{
  padding-right: 60px;
  padding-left:  0;
  font-size: 0.9em;
}
/*-----------------------contenido-------------------------
----------------------------------------------------------*/
.contenido{
  padding: 60px;
  border-bottom: solid black;
}
.imagendetabla{
  width : 100%;
  margin: 0%;
}

/*-----------------------Formulario -reguistro--------------
----------------------------------------------------------*/
.formulario-reguistro{
  text-align: center;
  padding: 10px;
  padding-top: 60px;
 /* background-color: white;*/
  background-color: #f0f0f0;

}
.espacio{
  padding: 10px;
}

input{
width: 350px;
padding: 5px;
}
.inicio{
  background-color: #037362;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0px;
    
}
.inicio1{
  background-color: #037362;
     padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0px;
    
}




.facebook{
  background-color:  #39579A;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0px;
    
}
.facebook:hover{
    background-color:  #39579A;
    color: black;
}
p{
  font-size: 0.7em;
  color: black;
}
/*-----------------------Empieza Tu Proyecto--------------
----------------------------------------------------------*/
.imagenes{
  width: 90%;
  padding: 60px;
}

.anuncio{
  padding: 80px;
  padding-left:  360px;
  background-color: rgb(3, 71, 82);
  color: white;
}

.resumen{
text-align: center;
padding: 80px;
}

.espacio-contenido{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 0px;
  padding-left: 100px;
}
.seccion-video{
  padding: 80px;
  background-color: rgb(40, 40, 40);
  text-align: center;
}
.video{
  width: 80%;
}

.anuncio-crea{
  padding-top: 80px;
  padding-bottom: 80x;
  border-top: 0.5px solid black;
}
.cuadro{
  padding: 20px;
  padding-right: 0;
  border: 1px solid black;
}

.anuncio-1{
  padding: 80px;
  border-top:  solid black;
  border-bottom: solid black;
  background-color: rgb(255, 203, 169);

}
.acomodar{
  padding-left:  150px;
}

.arte{
  padding: 60px;
}


/*-----------------------Empieza Tu Proyecto.1--------------
----------------------------------------------------------*/
.formulario{
  padding: 100px;
  text-align: center;
}
/*-----------------------Empieza Tu Proyecto.2--------------
----------------------------------------------------------*/
.texa{
  width: 600px !important;
  height: 70px !important;
  padding: 50px !important; 
  margin-left: 280px;
}
/*-----------------------footer---------------------------
----------------------------------------------------------*/
.enlace-footer {
  color: black;
}

 footer{
   padding: 60px;
 }



/*-----------------------empieza tu proyecto---------------------------
----------------------------------------------------------*/


.btn1{
      border-radius: 0%;
    
 
      
        border-color:  rgba(206, 204, 204,0.5);
}
.empieza{
  color:#aaa9a9;
  font-family: "Arial";
  font-size: 14px;
}

.empieza:hover{
  text-decoration: none;
  color: black
}



.texto-final{
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto', sans-serif; 
}
.texChek{
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
}

.primero{
font-family: 'Roboto', sans-serif; 
font-size: 28px;
 color: black !important;

}
.segundo{
font-family: 'Roboto', sans-serif;
 font-size: 18px !important;
 color: rgba(0, 0, 0, 0.6) !important;
}

.texto-top{
 font-family: 'Roboto', sans-serif; 
}




.form-control-lg {
 
    border-radius: 0%;
}



/*-----------------------iniciar seccion---------------------------
----------------------------------------------------------*/
.form-control:hover{
  border: 1px solid #111111;
}



.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    
    border-radius: 0px;   
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

}

.forma{
      width: 511px;                                                       
}

/*-----------------------reguistrarme---------------------------
----------------------------------------------------------*/

.form-signin  { /*le quite .form-control*/
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
  font-size: 16px;

}

.text{
  width: 400px;
}




/*-----------------------index---------------------------
----------------------------------------------------------*/
.btn-light{
  border: 1px solid  black ;
  padding:  10px !important;
 
}

a{
  color: black !important;
}


.iconos-check{
  width :26px ;
  height:26px ;
}

.col-center{
    float: none;
    margin: 0 auto;
}


.divCheck:hover{
  border:  solid 1px;

  border-color: rgba(116, 122, 121, 0.5);


}


.divCheck{

  padding: 15px;

}


