.header{
  padding: 25px;
  border-bottom: 1px solid black;
  background-color: white;
}
.derecha{
  float: left;
  padding-right: 10px;
}
.izquierda{
  float: right;
  padding-right: 10px;
}
header .logo{
   text-align: center;

}
.contenedor{
  width: 1400px;
  margin: 0 auto;
}
@media only screen and (max_whidth:480px) {
  a {
    display: none;
  }
  body{
    background-color: red;
  }

}
/*-----------------------Navagacion-------------------------
----------------------------------------------------------*/
.navegacion{
  padding: 20px;
  padding-top: 40px;
  }
a {
  padding-right: 25px;
  padding-left:  0;
  text-decoration: none;

}

.separar{
  padding-right: 450px
}
.tabla{
  padding: 25px;
  width: 1400px;
  border-top: solid black;
  border-bottom: solid black;
}
.tabla td{
  padding-right: 60px;
  padding-left:  0;
  font-size: 0.9em;
}
/*-----------------------contenido-------------------------
----------------------------------------------------------*/
.contenido{
  padding: 60px;
  border-bottom: solid black;
}

/*-----------------------Formulario -reguistro--------------
----------------------------------------------------------*/
.formulario-reguistro{
  text-align: center;
  padding: 10px;
  padding-top: 60px;
  background-color: white;

}
.espacio{
  padding: 10px;
}
.btn{
  padding-left: 80px;
  padding-right: 80px;
}
input{
width: 350px;
padding: 5px;
}
.inicio{
  background-color: #037362;
}
.facebook{
  background-color:  #39579A;
}
.facebook:hover{
    background-color:  #39579A;
}
p{
  font-size: 0.7em;
}
/*-----------------------Empieza Tu Proyecto--------------
----------------------------------------------------------*/
.imagenes{
  white : 90%;
  padding: 60px;
}

.anuncio{
  padding: 80px;
  padding-left:  360px;
  background-color: rgb(3, 71, 82);
  color: white;
}

.resumen{
text-align: center;
padding: 80px;
}

.espacio-contenido{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 0px;
  padding-left: 100px;
}
.seccion-video{
  padding: 80px;
  background-color: rgb(40, 40, 40);
  text-align: center;
}
.video{
  width: 80%;
}

.anuncio-crea{
  padding-top: 80px;
  padding-bottom: 80x;
  border-top: 0.5px solid black;
}
.cuadro{
  padding: 20px;
  padding-right: 0;
  border: 1px solid black;
}

.anuncio-1{
  padding: 80px;
  border-top:  solid black;
  border-bottom: solid black;
  background-color: rgb(255, 203, 169);

}
.acomodar{
  padding-left:  300px;
}

.arte{
  padding: 60px;
}


/*-----------------------Empieza Tu Proyecto.1--------------
----------------------------------------------------------*/
.formulario{
  padding: 100px;
  text-align: center;
}
/*-----------------------Empieza Tu Proyecto.2--------------
----------------------------------------------------------*/
.texa{
  width: 600px;
  padding: 50px;
}
/*-----------------------footer---------------------------
----------------------------------------------------------*/
.enlace-footer {
  color: black;
}
<<<<<<< HEAD
 footer{
   padding: 60px;
 }
=======

/*-----------------------empieza tu proyecto---------------------------
----------------------------------------------------------*/
.form-control {
    display: table-row  ;
    width: 55%  ;}

.btn{
      border-radius: 0%;
    display: block;
}


.btn-primary {
    color: #fff;
    background-color: #101010;
    border-color: #060606;
    display: block;

}
/*-----------------------iniciar seccion---------------------------
----------------------------------------------------------*/
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
