.pagBegin{
 font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(40, 40, 40);
  font-weight: bold;
}

.pagBegin2{
font-family: 'Dosis', sans-serif;
  font-size: 18px;

  color: rgb(40, 40, 40);
}
.oneMore{
 font-family: 'Dosis', sans-serif;
 font-size: 24px;

}
.rosa{

    font-family: 'Libre Baskerville', serif;
    font-size: 38px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.aqua{
    font-family: 'Libre Baskerville', serif;
    font-size: 38px;
    text-align: left;

}

.anchura{
  padding-top: 50px;
  padding-bottom:50px;
}
.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
  text-align: left;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
  font-size: 16px;
  

}
.checkbox .mb-3{
text-align: left;
    vertical-align: baseline;
}
.form-signin .form-control:focus {
  z-index: 2;
}


.h3{
  text-align: left;
  padding-bottom: 0px;
}


.btn-primary{
  background-color: #009E74;
  text-decoration: nome;
   border-radius: 0%;
}

.btn-primary:hover{
  background-color: #037362;
}

.btn-primary:hover {
    color: #fff;
    background-color: #037362;
    border-color: #0062cc;

}

.btn-inicio{
  margin-bottom:  0px;
   border-radius: 0%;
}

.btn-facebook{
 padding: 0;
  margin: 0;
  padding: top:25px;
  padding-bottom: 15px;
  text-align: center;
  text-align: center;
  background-color: #39579A !important;
  color: #FFFFFF;
   border-radius: 0%;
}
.btn-facebook:hover{
  background-color: #39579A;
  color: black;
}

.formulario-reguistro{
  background-color: #F0F0F0;
}


input {
    width: 350px;
    padding: 5px;
}

.text-inicio{
  text-align: left;
  font-family: Helvetica;
}

.table-iniciar{
  width: 400px;
  background-color: white;
}
.chk-recordar{

  width: 25px;
  padding-right: 0px;
  margin-left: 8px;
}

.olvidar{
  font-size: 11px;
  color: blue;
  margin-left: 20px;
}

.imagenesLanding{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh
}