

.btn-primary{
  background-color: #009E74;
  text-decoration: nome;
   border-radius: 0%;
}

.btn-primary:hover{
  background-color: #037362;
}

.btn-primary:hover {
    color: #fff;
    background-color: #037362;
    border-color: #0062cc;

}

.btn-inicio{
  margin-bottom:  0px;
   border-radius: 0%;
}

.btn-facebook{
 padding: 0;
  margin: 0;
  padding: top:25px;
  padding-bottom: 15px;
  text-align: center;
  text-align: center;
  background-color: #39579A;
  color: #FFFFFF;
   border-radius: 0%;
}
.btn-facebook:hover{
  background-color: #39579A;
  color: black;
}

.formulario-reguistro{
  background-color: #F0F0F0;
}


input {
    width: 350px;
    padding: 5px;
}

.text-inicio{
  text-align: left;
  font-family: Helvetica;
}

.table-iniciar{
  width: 400px;
  background-color: white;
}
.chk-recordar{

  width: 25px;
  padding-right: 0px;
  margin-left: 8px;
}

.olvidar{
  font-size: 11px;
  color: blue;
  margin-left: 20px;
}